<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<typeAliases>
		<typeAlias type="com.tapacross.sns.thrift.SNSInfo" alias="SnsInfo" />
		<typeAlias type="com.tapacross.sns.entity.TBArticleVideo"
			alias="TBArticleVideo" />
		<typeAlias type="com.tapacross.sns.entity.TBCrawlSite"
			alias="TBCrawlSite" />
		<typeAlias type="com.tapacross.sns.entity.TBYoutubeHistory" alias="TBYoutubeHistory" />
		<typeAlias type="com.tapacross.sns.entity.crawl.TBFieldUpdateArticle"
			alias="TBFieldUpdateArticle" />
		<typeAlias type="com.tapacross.sns.crawler.youtube.YouTubeInfluencerData" 
			alias="YouTubeInfluencerData"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/youtube-dao-mapper.xml" />
		<mapper resource="mybatis/youtube-Influencer-dao-mapper.xml"/>
	</mappers>
</configuration>